<div class="grid">
    <div class="flex flex-column md:flex-row gap-5">
        <div class="flex-auto">
            <div class="col-12 panel-shadow">
                <div class="card">
                    <p-panel [toggleable]="false">
                        <ng-template pTemplate="header">

                            <div class="flex align-items-center gap-2" *ngIf="utilisateur">
                                <span class="font-bold text-900">
                                    Modifier utilisateur
                                </span>
                            </div>
                            <div class="flex align-items-center gap-2" *ngIf="!utilisateur">
                                <span class="font-bold text-900">
                                    Creation utilisateur
                                </span>
                            </div>
        
                        </ng-template>
                        <div class="p-fluid p-formgrid grid">
                            <form [formGroup]="inscriptionForm">
                                <div class="user-details">
                                    <!-- Nom -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Nom</span>
                                            <input pInputText type="text" placeholder="Entrer le nom" formControlName="nom" required
                                                [class.is-invalid]="submitted && inscriptionForm.get('nom')?.errors">
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('nom')?.hasError('required')">
                                                Le champ nom est obligatoire
                                            </span>
                                            <span class="text-danger" *ngIf="submitted && 
                                                (inscriptionForm.get('nom')?.hasError('minlength') || 
                                                inscriptionForm.get('nom')?.hasError('maxlength'))">
                                                Le champ nom doit comporter au moins 6 caractères et au maximum 15 caractères.
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Prénom -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Prénom</span>
                                            <input type="text" placeholder="Entrer le prénom" formControlName="prenom" required
                                                [class.is-invalid]="submitted && inscriptionForm.get('prenom')?.errors">
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('prenom')?.hasError('required')">
                                                Le champ prénom est obligatoire
                                            </span>
                                            <span class="text-danger" *ngIf="submitted && 
                                                (inscriptionForm.get('prenom')?.hasError('minlength') || 
                                                inscriptionForm.get('prenom')?.hasError('maxlength'))">
                                                Le champ prénom doit comporter au moins 6 caractères et au maximum 15 caractères.
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Date de naissance -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Date de naissance</span>
                                            <input type="date" placeholder="Entrer la date de naissance" formControlName="DateNaissance"
                                                [class.is-invalid]="submitted && inscriptionForm.get('DateNaissance')?.errors">
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('DateNaissance')?.hasError('required')">
                                                Le champ Date de naissance est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Email -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Email</span>
                                            <input type="text" placeholder="Entrer l'email" formControlName="email" required
                                                [class.is-invalid]="submitted && inscriptionForm.get('email')?.errors">
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('email')?.hasError('required')">
                                                Le champ email est obligatoire
                                            </span>
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('email')?.hasError('pattern')">
                                                Le champ email est invalide
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Mot de passe -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Mot de passe</span>
                                            <input type="password" placeholder="Entrer le mot de passe" formControlName="password" required
                                                [class.is-invalid]="submitted && inscriptionForm.get('password')?.errors">
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('password')?.hasError('required')">
                                                Le champ mot de passe est obligatoire
                                            </span>
                                            <span class="text-danger" *ngIf="submitted && 
                                                (inscriptionForm.get('password')?.hasError('minlength') || 
                                                inscriptionForm.get('password')?.hasError('maxlength'))">
                                                Le champ mot de passe doit comporter au moins 6 caractères et au maximum 15 caractères.
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Confirmer le mot de passe -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Confirmer le mot de passe</span>
                                            <input type="password" placeholder="Confirmer le mot de passe" formControlName="passwordConf" required
                                                [class.is-invalid]="submitted && inscriptionForm.get('passwordConf')?.errors">
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('passwordConf')?.hasError('required')">
                                                Le champ Confirmer le mot de passe est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                    <!-- CIN -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">CIN</span>
                                            <input type="text" placeholder="Entrer le CIN" formControlName="cin" required
                                                [class.is-invalid]="submitted && inscriptionForm.get('cin')?.errors">
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('cin')?.hasError('required')">
                                                Le champ CIN est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Profession -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Profession</span>
                                            <input type="text" placeholder="Entrer la profession" formControlName="profession">
                                        </div>
                                    </div>
                                    <!-- Adresse -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Adresse</span>
                                            <input type="text" placeholder="Entrer l'adresse" formControlName="adresse">
                                        </div>
                                    </div>
                                    <!-- Image du profil -->
                                    <div class="field col-12 md:col-4">
                                        <div class="input-box">
                                            <span class="details">Image du profil</span>
                                            <div class="card">
                                                <div class="file-input-container" *ngIf="!utilisateur">
                                                  <p-avatar styleClass="mr-1" [image]="imagePreview" *ngIf="imagePreview" size="xlarge" shape="circle" ></p-avatar>
                                                  <input type="file" class="input-file" *ngIf="!imagePreview" (change)="onFileChange($event)">
                                                  <span *ngIf="filename"  class=" text-900 font-bold text-l" >{{filename}}</span>
                                                  <button pButton class="custom-button" pRipple icon="pi pi-times" *ngIf="imagePreview"  (click)="clearImage()" ></button>
                                                </div>
                                                <div class="file-input-container" *ngIf="utilisateur">
                                                    <p-avatar *ngIf="utilisateur.profileContent!=null" [image]="getProfileImageSrc(utilisateur.profileContent)" styleClass="mr-1" size="xlarge" shape="circle" />
                                                    <span *ngIf="utilisateur.profileContent!=null"  class=" text-900 font-bold text-l" >{{utilisateur.profileContentUrl}}</span>
                                                    <input type="file" class="input-file" *ngIf="!utilisateur.profileContent" (change)="onFileChange($event)">
                                                    <button pButton class="custom-button" pRipple icon="pi pi-times" *ngIf="utilisateur.profileContent!=null"  (click)="clearImage()" ></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Sexe -->
                                    <div class="field col-12 md:col-6">
                                        <div class="gender-details">
                                            <span class="gender-title">Sexe</span>
                                            <input type="radio" id="dot-1" formControlName="genre" value="1">
                                            <input type="radio" id="dot-2" formControlName="genre" value="0">
                                            <div class="category">
                                                <label for="dot-1">
                                                    <span class="dot one"></span>
                                                    <span class="gender">Homme</span>
                                                </label>
                                                <label for="dot-2" class="ml-2">
                                                    <span class="dot two" ></span>
                                                    <span class="gender">Femme</span>
                                                </label>
                                            </div>
                                            <span class="text-danger" *ngIf="submitted && inscriptionForm.get('genre')?.hasError('required')">
                                                Le champ Sexe est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Submit Button -->
                                <p-toast key="tst"></p-toast>
                                <div class="button" *ngIf="!utilisateur">
                                    <input type="submit" (click)="inscrire()"  [disabled]="!inscriptionForm.valid" [ngClass]="{'invalid-button': !inscriptionForm.valid, 'valid-button': inscriptionForm.valid}" style="background: var(--blue-700);"value="Enregister">
                                    <input type="submit" (click)="reset()"value="Nouveau"  style="background: linear-gradient(135deg, #49b513, #71b350);"class="ml-2">
                                </div>
                                <div class="button-test" *ngIf="utilisateur">
                                    <input type="submit" (click)="update()"  [disabled]="!inscriptionForm.valid" [ngClass]="{'invalid-button': !inscriptionForm.valid, 'valid-button': inscriptionForm.valid}" value="Modifier" style="background: var(--blue-700);">
                                    <input type="submit" (click)="delete()"  value="Supprimer" style=" background: var(--red-700)"class="ml-2">        
                                </div>
                                <!-- Error Messages -->
                                <ul class="list-none ml-3 mb-3">
                                    <li *ngIf="inscriptionForm.errors?.['passwordmatcherror']">
                                        <span class="alert alert-danger">Les mots de passe ne correspondent pas</span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</div>
