.layout-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7rem 1rem 2rem 1rem;
    transition: margin-left $transitionDuration;
    height: 100vh;

}
.layout-main {
    flex: 1 1 auto;
}
.layout-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}