<div class="layout-wrapper" [ngClass]="containerClass">
    
    <app-topbar></app-topbar>
    
    <div class="layout-sidebar" *ngIf="(authService.user$ | async)">
        <app-sidebar></app-sidebar>
    </div>

    <div class="layout-main-container">
        <div class="layout-main">
            <div class="layout-center">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer class="mt-5"></app-footer>
    </div>
    
    <div class="layout-mask"></div>
</div>
