<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Empty Page</h4>
            <p>This is your empty page template to start building beautiful applications.</p>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label style="color: black;">Outline form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
        </div>
    </div>
</div>