<div class="grid p-fluid">
    <div class="col-12 panel-shadow">
        <div class="card">

            <p-panel header="Consulter Clients" [toggleable]="false">

                
                <p-floatLabel class="p-float-label mb-5">
                    <input pInputText id="username" [(ngModel)]="searchLabel" (input)="search1($event.target.value)" class="custom-mat-input" />
                    <label for="username" class=" text-900 font-bold text-l">Rechercher</label>
                </p-floatLabel>
                
                <p-panel  [toggleable]="true" >

                    <ng-template pTemplate="header">

                        <div class="flex align-items-center gap-2">
                            <span class="font-bold">
                                Clients
                            </span>
                           
                            <div class="example-button-container">
				                <button pButton class="custom-button" pRipple icon="pi pi-plus" [routerLink]="'/salaf/clients/création'"></button>
                            </div>
                        </div>

                    </ng-template>
                    <div *ngIf="clients!=null && clientssearched==null">
                        <p-table #dt1 [value]="clients" dataKey="id" [rows]="5" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
                            <ng-template pTemplate="body" let-client>
                                <tr>
                                    <td>
                                        <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus" [multiple]="true" >
                                            <!--here if ngfor-->
                                            <div >
                                                <p-accordionTab [transitionOptions]="'0ms'">
                                                    <ng-template pTemplate="header">
                                                        <span class="flex align-items-center gap-2 w-full">
                                                            <p-avatar 
                                                                icon="pi pi-user"
                                                                [style]="{ 'background-color': 'black', color: 'white' }" 
                                                                styleClass="mr-2" 
                                                                size="xlarge" 
                                                                shape="circle" />
                                                            <span>
                                                                <span class=" text-700 font-bold text-l" >code-client: </span> <span class=" text-500 font-bold text-l">{{client.codeClient}}</span> 
                                                                <span class=" text-700 font-bold text-l"> nom: </span> <span class=" text-500 font-bold text-l">{{client.nom}}</span>
                                                                <span class=" text-700 font-bold text-l"> prenom:</span> <span class=" text-500 font-bold text-l">{{client.prenom}}</span>
                                                            </span>
                                                            <!--i want to send the client after the click to another component-->
                                                            <button pButton pRipple class="ml-auto mr-2 custom-button" icon="pi pi-pencil" [routerLink]="['/salaf/clients/création', client.codeClient]">
                                                            </button>
                                                        </span>
                                                    </ng-template>
                                                    <div class="grid">
                                                        <div class="col-12">
                                                            <div class="p-fluid p-formgrid grid">
                                                                <div class="user-details">
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label htmlFor="name2" class="details">Date Relation</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.dateRelation}}"/>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">date Delivrance</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.dateDelivrance}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">dateNaissance</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.dateNaissance}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">lieuNaissance</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.lieuNaissance}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">civilite</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.civilite}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">Situation familiale</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.dateNaissance}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">nombre Enfants</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.nombreEnfants}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">cin</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.cin}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">code Imputation</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.codeImputation}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details" >telephone</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.telephone}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-8">
                                                                        <div class="input-box">
                                                                            <label  class="details" >Adresse</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.client.adresse}}, {{this.client.codePostal}}, {{this.client.ville}}"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p-accordionTab>
                                            </div>
                                        </p-accordion>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div *ngIf="clientssearched!=null">
                        <p-table #dt1 [value]="clientssearched" dataKey="id" [rows]="5" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
                            <ng-template pTemplate="body" let-clientssearched>
                                <tr>
                                    <td>
                                        <p-accordion class="w-full" expandIcon="pi pi-plus" *ngIf="clientssearched!=null" collapseIcon="pi pi-minus" [multiple]="true" >
                                            <div >
                                                <p-accordionTab [transitionOptions]="'0ms'">
                                                    <ng-template pTemplate="header">
                                                        <span class="flex align-items-center gap-2 w-full">
                                                            <p-avatar 
                                                                icon="pi pi-user"
                                                                [style]="{ 'background-color': 'black', color: 'white' }" 
                                                                styleClass="mr-2" 
                                                                size="xlarge" 
                                                                shape="circle" />
                                                            <span>
                                                                <span class=" text-700 font-bold text-l" >code-client: </span> <span class=" text-500 font-bold text-l">{{clientssearched.codeClient}}</span> 
                                                                <span class=" text-700 font-bold text-l"> nom: </span> <span class=" text-500 font-bold text-l">{{clientssearched.nom}}</span>
                                                                <span class=" text-700 font-bold text-l"> prenom:</span> <span class=" text-500 font-bold text-l">{{clientssearched.prenom}}</span>
                                                            </span>
                                                            <!--i want to send the client after the click to another component-->
                                                            <button pButton pRipple class="ml-auto mr-2 custom-button" icon="pi pi-pencil" [routerLink]="['/salaf/clients/création', clientssearched.codeClient]">
                                                            </button>
                                                        </span>
                                                    </ng-template>
                                                    <div class="grid">
                                                        <div class="col-12">
                                                            <div class="p-fluid p-formgrid grid">
                                                                <div class="user-details">
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label htmlFor="name2" class="details">Date Relation</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.dateRelation}}"/>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">date Delivrance</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.dateDelivrance}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">date Naissance</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.dateNaissance}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">lieu Naissance</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.lieuNaissance}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">civilite</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.civilite}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">Situation familiale</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.dateNaissance}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">nombre Enfants</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.nombreEnfants}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">cin</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.cin}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details">code Imputation</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.codeImputation}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <div class="input-box">
                                                                            <label  class="details" >telephone</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.telephone}}"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-12 md:col-8">
                                                                        <div class="input-box">
                                                                            <label  class="details" >Adresse</label>
                                                                            <input id="disabled-input" type="text" pInputText [disabled]="true" placeholder="{{this.clientssearched.adresse}}, {{this.clientssearched.codePostal}}, {{this.clientssearched.ville}}"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p-accordionTab>
                                            </div>
                                        </p-accordion>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </p-panel>
            </p-panel>
        </div>
    </div>
</div>
